#title {
  margin: 1em 0;
  text-align: center;
  font-size: 3em;
}

#choices {
  display: flex;
  justify-content: center;
  gap: 2.5em;
}

button > img {
  margin: 1.2em;
  width: 10em;
  height: 10em;
}
